ul{
  list-style: none;
  padding: 0px;
}
.message-item{
  margin: 40px 20px;
  border: 1px solid #f0f0f0;
  padding: 20px;
  cursor: pointer;
  height: 100px;
}

.email{
  display: none;
}

.message-item:hover .email{
  display: block;
}

.avatar{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}
